/ppm_test.csv
/ppm_34_68.cf
/Results/
/Data/
/ppm.cf
/.~lock.200204_D_MaxHohl_MtPy_Imgs_LogBook.csv#
/200204_D_MaxHohl_MtPy_Imgs_LogBook.csv
/240123_D_Seb_22PyriteImgs_LogBook.xlsx
/240123_lines_Seb/
/4351174-2.csv
/Sample_Parameters.csv
i
/cps.cf
/cps_34_68.cf
